<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>表单数据收集</title>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- form表单 绑定submit事件.prevent防止默认事件="submit方法体"-->
        <form @submit.prevent="submit">
            <div>
                <div> <label for="username">账号名: </label>
                    <!-- input type="text/password" 双向绑定的是value值 v-model双向绑定.trim去除前后空格-->
                    <input id="username" type="text" placeholder="请输入账号名....." v-model.trim="user.username">
                </div>
                <!-- input type="text/password" 双向绑定的是value值 v-model双向绑定.trim去除前后空格-->
                <div> <label for="password">密码:</label>
                  <input id="password" type="password" placeholder="请输入密码....." v-model="user.password">
                </div>
            </div>

            <div> <label for="number">限制输入数字 年龄：</label>
                    <!-- input type="number" 双向绑定的是value值 v-model双向绑定.number限制输入非数字-->
                <input id="number" type="number" placeholder="限制输入非数字....." v-model.number=user.password>
            </div>

            <div>
                     <!-- input type="radio" 双向绑定的是value值 v-model双向绑定-->
                男 <input v-model="user.sex" type="radio" name="sex" value="male">
                女 <input v-model="user.sex" type="radio" name="sex" value="female">
            </div>
            <div>
                <label>爱好：</label>
                 <!-- input type="checkbox" 双向绑定的是数组 【data中要定义为数组[]】-->
                电影 <input v-model="user.checkboxTest" type="checkbox" name="checkbox" value="Movie">
                学习 <input v-model="user.checkboxTest" type="checkbox" name="checkbox" value="study">
                跑步 <input v-model="user.checkboxTest" type="checkbox" name="checkbox" value="running">
                赚钱 <input v-model="user.checkboxTest" type="checkbox" name="checkbox" value="make_money">
            </div>
            <div>
                    <!-- <select v-model双向绑定="value值"  >-->
                <select v-model="user.select" name="" id="">
                    <option value="地址">
                        </optionvalue>地址</option>
                    <option value="广东">广东</option>
                    <option value="广西">广西</option>
                    <option value="江西">江西</option>
                </select>
            </div>
            <div> <label for="textarea"></label>
                <!-- v-model双向绑定.lazy失出焦点 -->
                <textarea v-model.lazy="user.textare" name="" id="textarea" cols="40" rows="20"></textarea>
            </div>
            <div>
                <input v-model="user.readandaccept" type="checkbox">阅读并接受
                <a href="https://www.jd.com/">用户协议</a>
                <!-- 默认跳转的请在事件中 prevent防止默认事件-->
                <button>提交</button>
            </div>
        </form>
    </div>







</body>
<script type="text/javascript">

     new Vue({
        el: "#root",
        data() {

            return {
                user: {
                    username: "",
                    password: "",
                    age: 0,
                    sex: "male",
                    checkboxTest: ["make_money", "running"],
                    select: "地址",
                    textare: "",
                    readandaccept: "",
                }
            }
        },
        // 全部方法体
        methods: {
            // 方法体
            submit() {
                // JSON.stringify(this.user) 转成Json字符串
                alert(JSON.stringify(this.user))
            }


        }

    })

   


                 
</script>



</html>