/* --------------------基本css属性------------------ */
/* 左浮动 */
.float-left {
  float: left;
}

/* 右浮动 */
.float-right {
  float: right;
}

/* 清除浮动影响 */
.clear-both::after {
  content: "";
  /* 设置为块元素 */
  display: block;
  /* 清除浮动影响 */
  clear: both;
}

/* 版心 */
.container {
  /* 宽度 */
  width: 1190px;
  /* 居中 */
  margin: 0 auto;
  /* 背景颜色 */
  background-color: rgb(124, 172, 124);
}




