<!DOCTYPE html> <!-- 文档声明 html-5 -->
<html lang="zh-CN"> <!-- 设置页面语言  中文简体 -->
<!-- 表头 -->

<head>
    <!--规定 HTML 文档的字符编码  兼用性-->
    <meta charset="UTF-8">
    <!-- 针对IE浏览器的一个兼容性设置-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--优先使用 webkit ( Chromium ) 内核进行染，针对36@等壳览器-->
    <meta name="renderer" content="webkit">

    <!-- 让低版本浏览器认识H5 的语义化标签 -->
    <!--[if lt ie g]>
    
    <![endif]-->

    <!--< Meta Name=" description（网站内容描述）" Content="网页描述文字"   兼用性>  -->
    <meta name="description" content="网页描述文字">
    <!-- Edge 模式通知 Windows Internet Explorer 以最高级别的可用模式显示内容   兼用性-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 头标题 -->
    <title>A02_响应式_操作数组</title>
    <!-- 设置网站图标调用一个外部的图片文件 -->
    <!-- <link rel="shortcut icon" href="../resources静态资源/img/favicon.ico" type="image/x-icon" /> -->
    <!-- 调用一个外部的CSS样式文件 -->
    <link rel="stylesheet" href="#">
    <!-- 引入vue.js -->
    <script type="text/javascript" src="../../js文件/vue.js"> </script>

</head>

<body>
    <div id="root"> <br>
        <div style="background-color:rgb(139, 90, 0)">对象有响应式的set/get方法 可以直接动态更新页面数据</div>
        <div style="background-color:rgb(139, 90, 0)">数组没有响应式的set/get方法 (
            1.使用这些API:push()前面添加、pop()后面添加、shift()前面删除、unshift()后面删除、splice()替换对象、sort()升序排序、reverse()颠倒数组
            2.Vue.set() 或 vm.$set())</div>
        <div style="background-color:rgb(139, 90, 0)">特别注意: Vue.set()  vm.$set() 不能给vm 或 vm的根数据对象 添加属性!!</div>
        <button @click="unshift">数组前面添加对象</button>
        <button @click="push">数组后面添加对象</button>
        <button @click="shift">数组前面删除对象</button>
        <button @click="pop">数组后面删除对象</button>
        <button @click="splice">替换对象</button>
        <button @click="addSet">添加属性</button>
        <table>
            <!--表头 默认居中-->
            <caption>人员管理</caption>
            <tr>
                <td>编号</td>
                <td>名字</td>
                <td>年龄</td>
                <td>性别</td>

            </tr>
            <!-- v-for="(对象,索引) in 数组【】"
				 ：key="XXXX" 调用的虚拟DOM对比算法 key的值要唯一（加了key效率高）-->
            <tr v-for="(selected,i) in selecteds" :key="selected.id">
                <td>{{++i}}</td>
                <td>{{selected.id}}</td>
                <td>{{selected.name}}</td>
                <td>{{selected.set}}</td>

        </table>

    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#root",
            data() {
                return {

                    selecteds: [{ id: "1", name: "中叙述" }, { id: "2", name: "周先生" }, { id: "3", name: "黄先生" }],


                }
            },

            methods: {
                unshift() {
                    /* 响应式 动态更新页面数据 该方法可以在数组的最前面,添加一个或者几个元素*/
                    this.selecteds.unshift({ id: "4", name: "添加对象" })

                },
                push() {
                    /* 响应式 动态更新页面数据 该方法可以在数组的最后面,添加一个或者多个元素*/
                    this.selecteds.push({ id: "5", name: "添加对象" })

                },
                shift() {
                    /* 响应式 动态更新页面数据 该方法可以在数组的最前面,删除一个元素*/
                    this.selecteds.shift()

                },

                pop() {
                    /* 响应式 动态更新页面数据 该方法可以在数组的最后面,删除一个元素*/
                    this.selecteds.pop()

                },
                splice() {
                    /* 响应式 动态更新页面数据 该方法可以在数组的最后面,删除一个元素*/
                    this.selecteds.splice(0, 1, { id: "99", name: "删除再添加" })

                },




                addSet() {
                    /* 响应式 动态更新页面数据
                    Vue.set（vue容器data中的实例，“参数名”，参数值 ） 只能作用于data中的实例中的参数 */
                    // Vue.set(this.selecteds[0], 'set', "男")
                    this.$set(this.selecteds[0], 'set', "男")


                }


            }


        })
    </script>

</body>

</html>