<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>A03_列表过滤渲染watch</title>
	<script type="text/javascript" src="../../../js/vue.js"></script>


</head>

<body>
	<div id="root"> <br>
		<!-- v-model="textname"双向绑定 -->
		<div><input type="text" placeholder="名字查询" v-model="textname"> </div>
		<div>{{textname}}</div>

		<!-- v-model="textmoney"双向绑定 -->
		<div><input type="text" placeholder="差价查询" v-model="textmoney"> </div>
		<table>
			<!--表头 默认居中-->
			<caption>财务报表</caption>
			<tr>
				<td>编号</td>
				<td>sku</td>
				<td>名字</td>
				<td>价钱</td>
				<td>企业价格</td>
				<td>索引</td>
			</tr>
			<!-- v-for="(对象,索引) in 数组【】"
				 ：key="XXXX" 调用的虚拟DOM对比算法 key的值要唯一（加了key效率高）-->
			<tr v-for="(jd,i) in chajds" :key="jd.sku">
				<td>{{++i}}</td>
				<td>{{jd.sku}}</td>
				<td>{{jd.name}}</td>
				<td>{{jd.money}}</td>
				<td>{{jd.enterprisemoney}}</td>
			</tr>
		</table>

	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#root",
			data() {
				return {
					textname: "",
					textmoney: "",
					jds: [{
						sku: "100020468927",
						name: "华为智选 优畅享50 Plus 5G全网通120Hz高刷",
						money: "1169.00",
						enterprisemoney: "1000.00"
					},
					{
						sku: "100035295081",
						name: "HUAWEI Mate 50 直屏旗舰 超光变XMAGE影像 ",
						money: "4669.00",
						enterprisemoney: "1300.00"
					},
					{
						sku: "1862562",
						name: "鲁花 食用油 低芥酸特香菜籽油 5L 物理压榨（新老包装随机发放）",
						money: "99.00",
						enterprisemoney: "80.00"
					},
					{
						sku: "100042692647",
						name: "AppleiPhone苹果12 (A2404) 256GB黑色 全网通5G Apple",
						money: " 4949.00",
						enterprisemoney: "4000.00"
					},
					{
						sku: "100025493506",
						name: "华为智慧屏 SE 75英寸 超薄全面屏 4K超高清MEMC智能液晶护眼电视机8K解码 2GB+16GB 以旧换新HD75DESA",
						money: "3799.00",
						enterprisemoney: "3000"
					}

					],
					chajds: [],
				}
			},
			// 监听的对象 (可以实现异步)
			watch: {
				// 要监听的属性名 要监听多层结构属性名 
				"textname": {
					immediate: true,   //初始化的时候调用
					// deep: true, //开启深度监听
					// 要监听的属性发现改变就会调用这个 handler方法
					handler(newValue, oldValue) {
						console.log("属性的新值" + newValue, "属性的旧值" + oldValue)
						this.chajds = this.jds.filter((jd) => {
							// 数组过滤 返回一个数据//
							return (jd.name.indexOf(newValue))>=0
						})
					}

				},
				// 要监听的属性名 要监听多层结构属性名 
				"textmoney": {
					immediate: true,   //初始化的时候调用
					// deep: true, //开启深度监听
					// 要监听的属性发现改变就会调用这个 handler方法
					handler(newValue, oldValue) {
						console.log("属性的新值" + newValue, "属性的旧值" + oldValue)
						//  数组过滤 返回一个数据
						this.chajds = this.jds.filter((jd) => {
							return jd.money - jd.enterprisemoney > newValue
						})
					}

				},

			},

		})
	</script>

</body>

</html>