<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<!-- 双向绑定属性 -->
			<div><input type="text" v-model="firsName" /></div>
			<!-- 双向绑定属性 -->
			<div><input type="text" v-model="listName" /></div>
			<!-- 当属性发生修改的时候VUE容器会重写渲染页面 -->
			<div>{{allName}}</div>
		</div>
		<script>
			var vm = new Vue({
				el: "#root",
				data() {
					return {
						firsName: "请输入姓",
						listName: "请输入名"
					}
				},
				// 计算的方法（完整写法）（computed方法有缓存（当依赖发生改变就刷新缓存）methods没有缓存）
				// computed: {
				// 	//方法名
				// 	allName: {
				// 		// get的作用？当读取fullName时，get就会被调用，且返回值就是allName的值  不用手动调用
				// 		//get什么时候被调用？1.当第一次读取allName时。2.当所依赖的data数据发生变化时
				// 		get() {
				// 			console.log(this) //这个this是vue的本身
				// 			return this.firsName + "_" + this.listName
				// 		},
				// 		set(value) { //set方法
				// 			console.log("set", value)
				// 			const split = value.split("-") //字符串转数组
				// 			this.firsName = split[0] //赋值
				// 			this.listName = split[1] //赋值

				// 		}
				// 	}

				// },
				 // 计算的方法（简单写法）
				computed:{
					allName:function(){
							return this.firsName + "_" + this.listName
					}
				}
				
			})
		</script>
	</body>
</html>